<div>
  <p>
    <strong>User:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Commentable Type:</strong>
    <%= comment.commentable_type %>
  </p>

  <p>
    <strong>Commentable ID:</strong>
    <%= comment.commentable_id %>
  </p>
</div>
